@model BankingSystem_Challenge.ViewModels.VerifyAccount;
@{
    ViewData["Title"] = "Verify";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-3">
                <div class="card-header text-center">
                    <h4>Transfer From</h4>
                </div>
                <div class="card-body">
                    <div class="row justify-content-center">
                        <div class="col-8 border border-primary rounded p-4">
                            <div class="form-group">
                                <h3 class="control-label text-danger">
                                    <strong>
                                        <i class="bi bi-wallet2"></i> @Model.FromIban
                                    </strong>
                                </h3>
                            </div>
                            <div class="form-group">
                                <h5 class="control-label">
                                    <strong>
                                        <i class="bi bi-cash-coin"></i> @Model.Balance
                                    </strong>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row text-center mt-3">
                <i class="bi bi-arrow-down-short text-primary" style="font-size: 36px;"></i>
            </div>
            <div class="card mt-3">
                <div class="card-header text-center">
                    <h4>Transfer To</h4>
                </div>
                <div class="card-body">
                    <form asp-controller="FinancialTransactions" asp-action="Verify" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="FromIban" />
                        <input type="hidden" asp-for="Balance" />
                        <div class="mb-3">
                            <label asp-for="ToIBAN" class="form-label">
                                <i class="bi bi-bank2"></i> To IBAN
                            </label>
                            <input type="text" class="form-control" asp-for="ToIBAN">
                            <span asp-validation-for="ToIBAN" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Amount" class="form-label">
                                <i class="bi bi-cash-stack"></i> Amount
                            </label>
                            <input type="number" class="form-control" asp-for="Amount">
                            <span asp-validation-for="Amount" class="text-danger"></span>
                        </div>
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary">
                                <i class="bi bi-shield-check"></i> Verify
                            </button>
                        </div>
                    </form>
                    <div class="row mt-3 text-center">
                        <a asp-action="Index" asp-controller="Home">
                            <i class="bi bi-chevron-left"></i> Back
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
